main{
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  padding: 0 2%;
  align-items: center;
  justify-content: space-evenly;
  background: #F5F5F5;
  box-shadow: inset 5px 5px 67px rgba(0, 0, 0, 0.6);
}
.chatbox{
  display: flex;
  max-height: 80%;
  flex-direction: column;
  overflow-y: auto;
  padding: 3rem 0;
  width: 50%;


  &__message{
    width: 200px;
    min-height: 70px;
    color: black;
    border-radius: 10px;
    margin: 1rem;
    padding: .5rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    &--closed{
      background: lightgray;
      width: 200px;
      min-height: 70px;
      color: black;
      border-radius: 10px;
      margin: 1rem;
      padding: .5rem;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    }
    &.others{
      background-color: lightcoral;
      align-self: flex-end;
      box-shadow: -14px 5px 20px rgba(0, 0, 0, 0.3);
    }
    &.my{
      background-color: lightblue;
    }
  }
}
.typing_zone{
  height: 10%;
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  &__input{
    flex: 70%;
    height: 40px;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    padding: 0 1rem;
    margin-right: 1rem;

    &:focus{
      outline: none;
    }
  }
  &__button{
    flex: 25%;
    margin: 0 1rem;
    height: 30px;
    border-radius: 10px;
    background: lightblue;
    border: 1px solid black;
    &:hover{
      cursor: pointer;
    }
  }
}


